@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NanumSquare';
}

a:link, a:visited, a:hover, a:active { color : black; }

li {
	list-style-type: none;
}

header {
	height: 160px;
}

.all {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

#logo {
	clear: both;
	display: block;
	text-align: center;
	position: relative;
	z-index: 900;
}

#logo img {
	height: 80px;
	margin-top: 20px;
}

#top_menu {
	float: right;
}

#top_menu li {
	padding-right: 10px;
}

#menu {
	float: right;
	text-align: right;
	margin-top: 20px;
	height: 16px;
}

#menu li {
	display: inline-block;
}

#main_menu li {
	margin: 50px 0 0 80px;
	font-family: "맑은고딕";
	font-weight: bold;
	font-size: 20px;
}

#sticky {
	background-color: #fff;
	position: sticky;
	top: -1px;
	z-index: 800;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.navigation {
	height: 60px;
	background: #fff;
}

.nav_container {
	width: 1100px;
	margin: 0 0 0 auto;
}

.nav_container::after {
	content: "";
	clear: both;
	display: block;
}

.nav_container nav {
	float: right;
}

.nav_container .title {
	height: 60px;
	width: 275px;
	font-size: 20px;
	text-align: center;
}

.nav_container .title:hover {
	font-weight: bold;
}

.nav_contatiner nav ul {
	float: right;
	text-align: left;
}

.nav_container nav ul li {
	float: left;
	position: relative;
	z-index: 500;
}

.nav_container nav ul li a, .nav_container nav ul li a:visited {
	display: block;
	padding: 0 50px;
	line-height: 59px;
	color: #000;
	text-decoration: none;
}

.nav_container nav ul li a:hover, .nav_container nav ul li a:visited:hover
	{
	font-weight: bold;
}

.nav_container nav ul li ul li {
	width: 190px;
}

.nav_container nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
}

.nav_dropdown {
	position: absolute;
	display: none;
}

.nav_dropdown div {
	height: 200px;
	background-color: #f7eecd;
}

.menu_bd {
	border-right: 1px solid #ddd;
}

.box {
	width: 1100px;
	margin: 0 auto;
}

footer {
	height: 100px;
	border-top: 1px solid #ab8703;
	color: #000;
	margin-top: 1000px;
}

#bottom_menu {
	height: 50px;
}

#bottom_menu ul {
	padding: 20px 0 30px 0;
	font-weight: bold;
	padding-top: 50px;
}

#bottom_menu li {
	display: inline;
	margin-right: 30px;
}

#bottom_menu li a {
	color: #000;
	text-decoration: none;
}

footer .items {
	float: left;
	margin: 50px 0 0 10px;
}

footer h3 {
	color: #085c27;
}

footer .items ul {
	margin-top: 15px;
}

footer .items li {
	margin-bottom: 40px;
	font-size: 10px;
}

#strong {
	font-weight: bold;
	font-size: 24px;
	border-bottom: #fff;
	margin-bottom: 20px;
}

aside {
	width: 200px;
	height: 400px;
	float: left;
	margin-top: 30px;
	padding: 10px;
}

/* margin-top 수정 */
aside ul li {
	width: 180px;
	height: 60px;
	border-bottom: 1px solid #ab8703;
	padding: 20px;
	color: #000;
}

aside ul li a {
	text-decoration: none;
	color: #000;
}

aside ul li a:hover, aside ul li a:visited:hover {
	background: #f7eecd;
	color: #000;
	text-decoration: none;
}

/*css 시작 */
.board_wrap {
	width: 880px;
	float: right;
	padding-top: 60px;
	padding-left: 50px;
}

.bt_wrap {
	margin-top: 10px;
	float: right;
	text-align: center;
	font-size: 0;
}

.bt_wrap input {
	display: inline-block;
	min-width: 80px;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 16px;
	background: #373737;
	color: #fff;
}

.bt_wrap a:hover {
	text-decoration: none;
}

.bt_wrap a:first-child {
	margin-left: 0;
}

.board_write {
	width: 840px;
}

.board_write .title input[type="text"], .board_write .info input[type="text"],
	.board_write .info input[type="password"] {
	box-sizing: border-box;
}

.board_write .title input[type="text"] {
	width: 80%;
}

h2 {
	font-weight: bold;
}

span {
	margin-right: 30px;
}

span b {
	font-weight: 800;
	color: #666;
}

.cont {
	overflow-y: scroll; 
    height:250px;
}

#location h2 {
	font-weight: bold;
}

.loc_history {
	padding: 20px 0;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}

.book_info {
	padding : 20px;
}

.book_detail {
	padding : 10px 0px 10px 30px;
	width : 670px;
	float : right;
	font-size : 17px;
}