* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NanumSquare';
}

li {
	list-style-type: none;
}

header {
	height: 160px;
}

.all {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.box {
	width: 1100px;
	margin: 0 auto;
}

#logo {
	clear: both;
	display: block;
	text-align: center;
	position: relative;
	z-index: 900;
}

#logo img {
	height: 80px;
	margin-top: 20px;
}

#top_menu {
	float: right;
}

#top_menu li {
	padding-right: 10px;
}

#menu {
	float: right;
	text-align: right;
	margin-top: 20px;
	height: 16px;
}

#menu li {
	display: inline-block;
}

#main_menu li {
	margin: 50px 0 0 80px;
	font-family: "맑은고딕";
	font-weight: bold;
	font-size: 20px;
}

#sticky {
	background-color: #fff;
	position: sticky;
	top: -1px;
	z-index: 800;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.navigation {
	height: 60px;
	background: #fff;
}

.nav_container {
	width: 1100px;
	margin: 0 0 0 auto;
}

.nav_container::after {
	content: "";
	clear: both;
	display: block;
}

.nav_container nav {
	float: right;
}

.nav_container .title {
	height: 60px;
	width: 275px;
	font-size: 20px;
	text-align: center;
}

.nav_container .title:hover {
	font-weight: bold;
}

.nav_contatiner nav ul {
	float: right;
	text-align: left;
}

.nav_container nav ul li {
	float: left;
	position: relative;
	z-index: 500;
}

.nav_container nav ul li a, .nav_container nav ul li a:visited {
	display: block;
	padding: 0 50px;
	line-height: 59px;
	color: #000;
	text-decoration: none;
}

.nav_container nav ul li a:hover, .nav_container nav ul li a:visited:hover
	{
	font-weight: bold;
}

.nav_container nav ul li ul li {
	width: 190px;
}

.nav_container nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
}

.nav_dropdown {
	position: absolute;
	display: none;
}

.nav_dropdown div {
	height: 200px;
	background-color: #f7eecd;
}

.menu_bd {
	border-right: 1px solid #ddd;
}

.box {
	width: 1100px;
	margin: 0 auto;
}

footer {
	height: 100px;
	border-top: 1px solid #ab8703;
	color: #000;
	margin-top: 950px;
}

#bottom_menu {
	height: 50px;
}

#bottom_menu ul {
	padding: 20px 0 30px 0;
	font-weight: bold;
	padding-top: 50px;
}

#bottom_menu li {
	display: inline;
	margin-right: 30px;
}

#bottom_menu li a {
	color: #000;
	text-decoration: none;
}

footer .items {
	float: left;
	margin: 50px 0 0 10px;
}

footer h3 {
	color: #085c27;
}

footer .items ul {
	margin-top: 15px;
}

footer .items li {
	margin-bottom: 40px;
	font-size: 10px;
}

#strong {
	font-weight: bold;
	font-size: 24px;
	border-bottom: #fff;
	margin-bottom: 20px;
}

aside {
	width: 200px;
	height: 800px;
	float: left;
	margin-top: 30px;
	padding: 10px;
}

/* margin-top 수정 */
aside ul li {
	width: 180px;
	height: 60px;
	border-bottom: 1px solid #ab8703;
	padding: 20px;
	color: #000;
}

aside ul li a {
	text-decoration: none;
	color: #000;
}

aside ul li a:hover, aside ul li a:visited:hover {
	background: #f7eecd;
	color: #000;
	text-decoration: none;
}

/*css 시작 */
#location h2 {
	font-weight: bold;
}

.loc_history {
	padding: 20px 0;
	border-bottom: 2px solid #ccc;
	margin-bottom: 30px;
}

.board_wrap {
	width: 900px;
	float: right;
	padding-top: 60px;
	padding-left: 50px;
}

.bt_wrap {
	margin-top: 30px;
	margin-left: 600px;
	text-align: center;
	font-size: 0;
}

.bt_wrap a {
	display: inline-block;
	min-width: 80px;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 16px;
}

.bt_wrap a:first-child {
	margin-left: 0;
}

.bt_wrap a, .bt_wrap a:hover {
	background: #373737;
	color: #fff;
	text-decoration: none;
}

.btn-dark {
	background: #555;
	color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}

.board_table table {
	width: 800px;
}

.board_table th, td {
	height: 15px;
	padding: 5px;
	line-height: 180%;
}

.board_table th span {
	background-color: #f7eecd;
	width: 62px;
}

.board_table input[type="text"] {
	width: 450px;
	padding-left: 5px;
}

.board_table input[type="button"] {
	width: 100px;
	border-radius: 3px;
}

.board_table textarea {
	display: block;
	width: 800px;
	height: 450px;
	padding: 15px;
	box-sizing: border-box;
	resize: vertical;
	border: 1px solid #ccc;
	margin-top: 20px;
}