* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
}

a:link, a:visited, a:hover, a:active { color : black; }

li {
    list-style-type: none;
}

header {
    height: 160px;
}

.all {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

.box {
    width: 1100px;
    margin: 0 auto;
}

#logo {
    clear: both;
    display: block;
    text-align: center;
    position: relative;
    z-index: 900;
}

#logo img {
    height: 80px;
    margin-top: 20px;
}

#top_menu {
    float: right;
}

#top_menu li {
    padding-right: 10px;
}

#menu {
    float: right;
    text-align: right;
    margin-top: 20px;
}

#menu li {
    display: inline-block;
}

#main_menu li {
    margin: 50px 0 0 80px;
    font-family: "맑은고딕";
    font-weight: bold;
    font-size: 20px;
}

#sticky {
    background-color: #fff;
    position: sticky;
    top: -1px;
    z-index: 800;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navigation {
    height: 60px;
    background: #fff;
}

.nav_container {
    width: 1100px;
    margin: 0 0 0 auto;
}

.nav_container::after {
    content: "";
    clear: both;
    display: block;
}

.nav_container nav {
    float: right;
}

.nav_container .title {
    height: 60px;
    width: 275px;
    font-size: 20px;
    text-align: center;
}

.nav_container .title:hover {
    font-weight: bold;
}

.nav_contatiner nav ul {
    float: right;
    text-align: left;
}

.nav_container nav ul li {
    float: left;
    position: relative;
    z-index: 500;
}

.nav_container nav ul li a,
.nav_container nav ul li a:visited {
    display: block;
    padding: 0 50px;
    line-height: 59px;
    color: #000;
    text-decoration: none;
}

.nav_container nav ul li a:hover,
.nav_container nav ul li a:visited:hover {
    font-weight: bold;
}

.nav_container nav ul li ul li {
    width: 190px;
}

.nav_container nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav_dropdown {
    position: absolute;
    display: none;
}

.nav_dropdown div {
    height: 200px;
    background-color: #f7eecd;
}

.menu_bd {
    border-right: 1px solid #ddd;
}

.box {
    width: 1100px;
    margin: 0 auto;
}


footer {
    height: 100px;
    border-top: 1px solid #ab8703;
    color: #000;
    clear: both;
}

#bottom_menu {
    height: 50px;
}

#bottom_menu ul {
    padding: 20px 0 30px 0;
    font-weight: bold;
    padding-top: 50px;
}

#bottom_menu li {
    display: inline;
    margin-right: 30px;
}

#bottom_menu li a {
    color: #000;
    text-decoration: none;
}

footer .items {
    float: left;
    margin: 50px 0 0 10px;
}

footer h3 {
    color: #085c27;
}

footer .items ul {
    margin-top: 15px;
}

footer .items li {
    margin-bottom: 40px;
    font-size: 10px;
}

aside {
    width: 200px;
    height: 800px;
    float: left;
    margin-top: 30px;
    padding: 10px;
}

aside ul li {
    width: 180px;
    height: 60px;
    color: #000;
    border-bottom: 1px solid #ab8703;
    padding: 20px;
}

aside ul li a {
    text-decoration: none;
    color: #000;
}

aside ul li a:hover,
aside ul li a:visited:hover {
    background: #f7eecd;
    color: #000;
}

.main {
    width: 800px;
    height: auto;
    float: right;
    margin: 50px;
    margin-top: 55px;
}

#strong {
    font-weight: bold;
    font-size: 30px;
    border-bottom: #fff;
    margin-bottom: 20px;
}

/* book_info.html*/
.loc_history {
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
}

.book_box {
    width: 800px;
    float: left;
    padding: 30px;
    margin: 30px 0px 60px 0px;
    background-color: rgb(255, 254, 221);
}

.book_size {
    width: 200px;
    height: 300px;
    float: left;
}

dl {
    width: 490px;
    float: right;
}

.font_height {
    line-height: 200%;
}

dt {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
}

#bottom_line {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccc;
}

dt a {
    color: #000;
    text-decoration: none;
}

dt a:hover,
dt a:visited {
    color: #000;
    text-decoration: underline;
}

.book_size2 {
    width: 100px;
    height: 150px;
    float: left;
}

.dl2 {
    width: 624px;
    line-height: 138%;
}

.book_box2 {
    width: 800px;
    float: left;
    padding: 15px;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.book_box2:hover {
    background-color: rgb(213, 213, 213);
}


/*테이블*/

table {
    width: 800px;
    text-align: center;
    float: left;
    margin: 20px 0px;
}

th {
    border-bottom: 1px solid #888;
    background-color: rgb(253, 253, 196);
    padding: 10px;
    margin: 10px;
}

td {
    border-bottom: 1px solid #888;
    padding: 10px;
    margin: 10px;
}

#btn {
    width: 80px;
    height: 30px;
}

#heart {
    width: 200px;
    height: 50px;
    background-color: #4976f1;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: white;
    margin-top : 10px;
}

#heart:hover {
    background-color: #2653ce;
    border: 2px solid #2653ce;
    color: white;
}

#red_box {
    margin: 20px 0px;
    padding: 20px;
    width: 800px;
    height: 150px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#red {
    width: 150px;
    height: 30px;
    margin: 5px;
    background-color: rgb(249, 86, 86);
    color: white;
    border-radius: 10px;
    border: none;
}

#red_text {
    width: 570px;
    float: right;
    line-height: 180%;
}